<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erreur 404</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet">
    <link href="../assets/style.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-200">
    <div class="max-w-md mx-auto p-4 sm:p-6 lg:p-8 bg-white rounded shadow-md text-gray-800 animate-fade-in-down">
        <div class="flex items-center mb-4">
            <i class="fas fa-exclamation-triangle text-red-500 mr-2"></i>
            <h1 class="text-3xl font-bold">Erreur 404</h1>
           
        </div>
        <div class="max-w-md mx-auto p-4 sm:p-6 lg:p-8 bg-white rounded shadow-md text-gray-800">
            <p class="text-lg mb-4">Page introuvable</p>
            <p class="text-sm text-gray-600 mb-6">Veuillez vérifiez l'URL ou cliquer sur le bouton ci-dessous pour retourner à la page d'accueil.</p>
            <button class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition duration-300">
                <a href="/">Retour à la page d'accueil</a>
            </button>
        </div>
       
    </div>
</body>
</html>