<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://font.gsstatic.com" crossorigin>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">
    <nav class="bg-blue-500 p-4 flex justify-between items-center">
        <h1 class="text-white text-2xl uppercase"><a href="/">Portfolio</a></h1>
        <h2 class="text-white text-xl">Backoffice</h2>
    </nav>
    <div class="flex flex-col items-center justify-center min-h-screen px-4 max-w-4xl mx-auto py-12 sm:px-6 lg:px-8">
        <h1 class="text-3xl front-bold tex-center mb-4 sm:text-4xl">Bienvenue</h1>
        <p class="text-lg text-center mb-8">Vous êtes dans un espace sécurisé. </p>
        <p class="text-lg  text-center mb-8">Connectez-vous pour y accéder.</p>
        <div class="flex flex-col space-y-4 sm:flex-row sm:space-y-0 sm:space-x-4">
            <!--Si c'est la première connexion, l'utilisateur s'inscrit-->
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out flex items-center">
                <a href="public/signup"><i class="fas fa-user-plus mr-2"></i>S'inscrire</a>
            </button>
            <!--Si ce n'est pas la première connexion, l'utilisateur se connecte-->
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out flex items-center">
                <a href="public/login"><i class="fas fa-sign-in-alt mr-2"></i>Se connecter</a>
            </button>
        </div>
       
    </div>
</body>
</html>