<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex items-center justify-center h-screen bg-gray-200">
   
    <form action="/public/login" method="POST" class="bg-white p-6 rounded shadow-md">
        <h1 class="text-2xl mb- text-center">Login</h1>
        <div class="mb-4">
            <label for="username" class="block mb-2">Nom d'utilisateur :</label>
            <input type="text" name="username" id="username" class= "w-full px-3 py-2 border rounded" required>
            <label for="password" class="block mb-2">Mot de passe :</label>
            <input type="password" name="password" id="password" class="w-full px-3 py-2 border rounded" required>
            <button type="submit" class="w-full p-2 bg-blue-500 text-white rounded mt-6">Se connecter</button>
        </div>
    </form>
</body>
</html>