<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des messages</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100"> 
    <nav class="bg-blue-500 p-4 flex justify-between items-center">
        <h1 class="text-white text-2xl uppercase"><a href="/">Portfolio</a></h1>
        <h2 class="text-white text-2xl">Backoffice</h2>
        <p class="text-white"><%= `Bonjour ${username} !` %></p>
        <a href="/" class="text-white">
            <i class="fa-solid fa-right-from-bracket"></i>
        </a>
    </nav>
    <div class="max-w-7x1 mx-auto py-12 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold text-gray-800 mb-6">Liste des Messages</h1>
        <table class="min-w-full bg-white shadow-md rounded-lg overflow-hidden">
            <thead class="bg-gray-200 text-gray-700">
                <tr>
                    <th class="py-2 px-4">Nom</th>
                    <th  class="py-2 px-4">Prénom</th>
                    <th  class="py-2 px-4">Email</th>
                    <th  class="py-2 px-4">Message</th>
                    <th  class="py-2 px-4"></th>
                </tr>
            </thead>
            <tbody class="text-gray-600">
                <% messages.forEach(message => { %>
                    <tr>
                        <td  class="py-2 px-4"><%= message.name %></td>
                        <td  class="py-2 px-4"><%= message.surname %></td>
                        <td  class="py-2 px-4"><%= message.email %></td>
                        <td  class="py-2 px-4"><%= message.message %></td>
                        <td  class="py-2 px-4">
                            <form action="/protected/<%= message._id %>?_method=DELETE" method="POST">
                                <button type="submit" class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>  
    <script>
        document.querySelectorAll('form').forEach(form => {
            form.addEventListener('submit', (event) => {
                event.preventDefault();

                if (window.confirm('Etes-vous sur de vouloir supprimer ce message ?')) {
                    fetch(form.action, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded'
                        },
                        body: new URLSearchParams(new FormData(form))
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            alert(data.message); // Accéder à la propriété message
                            location.reload();
                        } else {
                            alert(data.error); // Accéder à la propriété error
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    })
                }
            })
        })
    </script>
   
</body>
</html>