<nav class="bg-blue-500 p-4 flex justify-between items-center">
    <h1 class="text-white text-2xl">Backoffice</h1>
    <a href="/login" class="text-white mr-4">
        <i class="fa-solid fa-right-to-bracket"></i>
    </a>
    <a href="/logout" class="text-white">
        <i class="fa-solid fa-right-from-bracket"></i>
    </a>
</nav>