<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page de résultats</title>
</head>
<body class="bg-gray-100">
    <nav class="bg-blue-500 p-4 flex justify-between items-center">
        <h1 class="text-white text-2xl uppercase"><a href="/">Portfolio</a></h1>
        <h2 class="text-white text-xl">Backoffice</h2>
    </nav>
    <p><%= results %></p>
    <button onclick="location.href='/'">Retour à la page d'accueil</button>
</body>
</html>