<script setup>
import { onMounted, ref, reactive } from 'vue';
import 'ol/ol.css';
import Map from 'ol/Map';
import View from 'ol/View';
import VectorLayer from 'ol/layer/Vector';
import VectorSource from 'ol/source/Vector';
import TileLayer from 'ol/layer/Tile';
import XYZ from 'ol/source/XYZ';
import GeoJSON from 'ol/format/GeoJSON';
import axios from 'axios';

const mapContainer = ref(null);
const map = ref(null);
const layers = reactive({
    epci: true,
    communes: true,
    // iris: true,
});

const vectorLayers = {
    epci: new VectorLayer({
        source: new VectorSource(),
        visible: layers.epci
    }),
    communes: new VectorLayer({
        source: new VectorSource(),
        visible: layers.communes
    })
}

const fetchGeoJSON = async (layerName) => {
    try {
        const response = await axios.get(`/api/geojson/${layerName}`);
        if(response.headers['content-type'].includes('application.json')) {
            const features = new GeoJSON().readFeatures(response.data, {
                featureProjection: 'EPSG:3857'
            });
            vectorLayers[layerName].getSource().addFeatures(features);
        } else {
            throw new Error('Invalid JSON response');
        }
       
    } catch (error) {
        console.error(`Error fetching ${layerName} data:`, error);
    }
}

const toggleLayer = (layerName) => {
    vectorLayers[layerName].setVisible(layers[layerName]);
}

onMounted(() => {
    map.value = new Map({
        target: mapContainer.value,
        layers: [
            new TileLayer({
                source: new XYZ({
                    url: 'https://{a-c}.tile.openstreetmap.org/{z}/{x}/{y}.png'
                }),
            }),
            vectorLayers.epci,
            vectorLayers.communes
        ],
        view: new View({
            center: [0, 0],
            zoom: 2
        })
    })

    fetchGeoJSON('epci');
    fetchGeoJSON('communes');
})
</script>

<template>
  <div class="map-container">
    <div ref="mapContainer" class="map">
        <div class="layer-control">
            <label>
                <input type="checkbox" v-model="layers.epci" @change="toggleLayer('epci')" />
                EPCI
            </label>
            <label>
                <input type="checkbox" v-model="layers.communes" @change="toggleLayer('communes')" />
                Communes
            </label>
        </div>
    </div>
  </div>
</template>

<style scoped>
h1 {
  font-weight: 500;
  font-size: 2.6rem;
  position: relative;
  top: -10px;
}

.map-container {
  position: relative;
}

.map {
  width: 100%;
  height: 500px;
}

.layer-control {
  position: absolute;
  top: 10px;
  left: 10px;
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 250px;
  height: auto;
}

@media (min-width: 1024px) {
  
}
</style>
