<template>
  <div class="flex flex-row space-x-4">
    <!--Card 1-->
    <div class="max-w-sm rounded overflow-hidden shadow-lg mr-4">
      <img class="w-full" src="https://img.freepik.com/free-vector/dashboard-element-collection_23-2148384408.jpg?t=st=1713868139~exp=1713871739~hmac=6db6e24dbded8b8e9c225b5e4f7849e9ff0405b780b0d8d6ef7008a0fdab0fc5&w=996" alt="analyse statistique">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">Analyse statistique</div>
        <p class="text-gray-700 text-base">
          Analyse statistique pour les données géographiques
        </p>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#statistiques</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#R</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#python</span>
      </div>
      <div>
        <p><a href="https://www.freepik.com/free-vector/dashboard-element-collection_6330183.htm#fromView=search&page=1&position=4&uuid=cc6ca59a-f504-4b2a-9ea1-57c095f2b398">Image by freepik</a></p>
      </div>
    </div>
    <!--Card 2-->
    <div class="max-w-sm rounded overflow-hidden shadow-lg mr-4">
      <img class="w-full" src="https://img.freepik.com/free-vector/illustration-map_53876-20627.jpg?t=st=1713767287~exp=1713770887~hmac=2a2b1c9600bb8a4f9dcaf11175415a10ea510e90b597edb5eaaff5f72a3e86ff&w=1060" alt="Sunset in the mountains">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">Création de web maps</div>
        <p class="text-gray-700 text-base">
          Création de cartographie pour le web avec Leaflet et Open Layers
        </p>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#openlayers</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#leaflet</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#web</span>
      </div>
    </div>
    <!--Card 3-->
    <div class="max-w-sm rounded overflow-hidden shadow-lg mr-4">
      <img class="w-full" src="https://img.freepik.com/free-vector/futuristic-technology-infographic_23-2148468846.jpg?t=st=1713867880~exp=1713871480~hmac=07dac5d1da63f9244bbc8b317928cfecedf56050bb61f61605aba6061184f546&w=996" alt="dataviz">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">Dataviz</div>
        <p class="text-gray-700 text-base">
          Création d'interface utilisateur pour la réprésentation de données
        </p>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#data</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#api</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#ui</span>
      </div>
      <div>
        <p><a href="https://www.freepik.com/free-vector/futuristic-technology-infographic_7307906.htm#from_view=detail_alsolike">Image by freepik</a></p>
      </div>
    </div>
     <!--Card 4-->
     <div class="max-w-sm rounded overflow-hidden shadow-lg mr-4">
      <img class="w-full" src="https://img.freepik.com/free-photo/digital-world-map-hologram-blue-background_1379-901.jpg?t=st=1713868509~exp=1713872109~hmac=29489f0020fb4d497765884151a087c6680192e16ecd32f84e9db3c4eddfbada&w=1060" alt="système d'information géographique">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">Système d'Information Géographique</div>
        <p class="text-gray-700 text-base">
          Utilisation des logiciels QGIS et ArcGIS
        </p>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#sig</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#qgis</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#arcgis</span>
      </div>
      <div>
        <p><a href="https://www.freepik.com/free-photo/digital-world-map-hologram-blue-background_1198401.htm#fromView=search&page=3&position=36&uuid=cc6ca59a-f504-4b2a-9ea1-57c095f2b398">Image by natanaelginting on Freepik</a></p>
      </div>
    </div>
  </div>

</template>

<style scoped>
h1 {
  font-weight: 500;
  font-size: 2.6rem;
  position: relative;
  top: -10px;
}

</style>