<!--ClicMap.vue-->
<script setup>

import { ref } from 'vue';

const selectedCommune = ref(null);

const communes= [
    {
      id: 1,
      nom: "Etang-Salé",
      population: 13645,
      surface: 36.65,
      densité: 358
    },
    {
      id: 2,
      nom: "Les Avirons",
      population: 11470,
      surface: 26.27,
      densité: 435
    },
    {
      id: 3,
      nom: "Saint-Leu",
      population: 34740,
      surface: 118.37,
      densité: 295
    },
    {
      id: 4,
      nom: "Trois-Bassins",
      population: 6953,
      surface: 42.43,
      densité: 495
    },
    {
      id: 5,
      nom: "Saint-Paul",
      population: 104301,
      surface: 0,
      densité: 0
    },
    {
      id: 6,
      nom: "Le Port",
      population: 32619,
      surface: 0,
      densité: 0
    },
    {
      id: 7,
      nom: "La Possession",
      population: 33370,
      surface: 0,
      densité: 0
    },
    {
      id: 8,
      nom: "Saint-Denis",
      population: 153001,
      surface: 142.79,
      densité: 1084
    },
    {
      id: 9,
      nom: "Sainte-Marie",
      population: 34350,
      surface: 0,
      densité: 0
    },
    {
      id: 10,
      nom: "Sainte-Suzanne",
      population: 24086,
      surface: 0,
      densité: 0
    },
    {
      id: 11,
      nom: "Saint-André",
      population: 56857,
      surface: 0,
      densité: 0
    },
    {
      id: 12,
      nom: "Bras-Panon",
      population: 13416,
      surface: 88.55,
      densité: 151
    },
    {
      id: 13,
      nom: "Saint-Benoît",
      population: 36994,
      surface: 229.61,
      densité: 161
    },
    {
      id: 14,
      nom: "Salazie",
      population: 7310,
      surface: 103.82,
      densité: 70
    },
    {
      id: 15,
      nom: "Cilaos",
      population: 5568,
      surface: 84.40,
      densité: 64
    },
    {
      id: 16,
      nom: "Saint-Louis",
      population: 53744,
      surface: 98.90,
      densité: 545
    },
    {
      id: 17,
      nom: "Entre-Deux",
      population: 7040,
      surface: 66.83,
      densité: 106
    },
    {
      id: 18,
      nom: "Plaine des Palmistes",
      population: 6723,
      surface: 83.19,
      densité: 82
    },
    {
      id: 19,
      nom: "Sainte-Rose",
      population: 6237,
      surface: 177.60,
      densité: 36
    },
    {
      id: 20,
      nom: "Le Tampon",
      population: 80778,
      surface: 165.43,
      densité: 495
    },
    {
      id: 21,
      nom: "Saint-Pierre",
      population: 83930,
      surface: 95.99,
      densité: 876
    },
    {
      id: 22,
      nom: "Petite-Ile",
      population: 12401,
      surface: 33.93,
      densité: 372
    },
    {
      id: 23,
      nom: "Saint-Joseph",
      population: 38465,
      surface: 178.50,
      densité: 217
    },
    {
      id: 24,
      nom: "Saint-Philippe",
      population: 5085,
      surface: 153.94,
      densité: 33
    },
  ];

  const selectCommune = (nomCommune) => {
    // Rercherche la commune dans la liste des communes
    const commune = communes.find(c => c.nom === nomCommune);
    // Met à jour la commune sélectionnée
    selectedCommune.value = commune || null;
  };

</script>

<template>
  <div class="container mx-auto px-4">
    <h1 class="text-3xl font-bold mb-8">Carte interactive de La Réunion</h1>
    <!--Container global en ligne-->
    <div class="flex flex-col items-center justify-center content-center w-full">
      <!--Ligne 1 : Carte clicable-->
      <div class="w-full">
        <!-- Image Map Generated by http://www.image-map.net/ -->
        <img src="../assets/reunion-communes.webp" usemap="#image-map" alt="Carte de La Réunion" class="w-full">

        <map name="image-map">
          <!--ID 1 - Etang Salé-->
          <area target="_parent" alt="Etang-Salé" title="Etang-Salé" v-on:click="selectCommune('Etang-Salé')"
            coords="411,532,398,519,403,502,406,486,407,471,406,459,406,443,405,428,398,421,400,409,403,402,405,392,400,395,397,401,394,407,393,414,390,427,387,433,379,440,373,443,366,453,366,461,370,471,370,480,368,488,360,484,350,482,340,480,334,475,332,486,337,493,342,503,342,512,349,516,355,520,374,521,387,524,396,527,404,531"
            shape="poly" class="cursor-pointer bg-slate-100">
          <!--ID 2 - Les Avirons-->
          <area target="_parent" alt="Les Avirons" title="Les Avirons"  v-on:click="selectCommune('Les Avirons')"
            coords="328,479,350,479,364,481,370,467,368,454,373,442,386,433,389,422,395,408,398,396,403,389,411,382,416,375,419,362,422,353,405,367,399,375,397,381,384,395,376,403,366,411,359,419,351,433,345,442,343,448,340,462,334,472,348,493,357,485"
            shape="poly" class="cursor-pointer">
          <!--ID 3 - Saint-Leu-->  
          <area target="_parent" alt="Saint-Leu" title="Saint-Leu" v-on:click="selectCommune('Saint-Leu')"
            coords="326,481,336,461,347,438,354,424,366,410,387,392,393,381,402,371,407,362,422,354,423,345,427,335,429,328,420,324,409,322,400,322,390,321,379,317,363,317,353,318,341,322,328,322,315,329,306,336,291,337,283,341,271,343,271,354,278,363,284,369,290,379,290,390,287,399,286,410,285,420,284,431,288,443,294,454,301,463,316,470"
            shape="poly" class="cursor-pointer">
          <area target="_parent" alt="Trois-Bassins" title="Trois-Bassins" v-on:click="selectCommune('Trois-Bassins')"
            coords="255,313,271,305,302,294,318,290,329,291,347,294,361,293,379,293,388,297,403,296,416,300,423,306,435,315,441,319,435,323,420,323,402,320,389,320,370,314,358,317,334,319,321,323,313,329,304,332,297,335,288,338,279,340,272,340,264,333,256,327,250,319"
            shape="poly">
          <area target="_parent" alt="Saint-Paul" title="Saint-Paul" v-on:click="selectCommune('Saint-Paul')"
            coords="484,286,480,298,475,303,462,309,450,315,442,316,429,309,416,298,403,297,389,294,371,292,359,292,346,293,331,291,324,290,314,293,297,297,282,299,268,308,253,314,240,304,229,294,221,282,216,271,213,257,216,248,213,236,210,226,216,216,224,209,228,202,243,202,257,197,269,189,281,171,282,161,284,148,279,131,294,127,311,130,319,137,336,143,350,148,365,152,376,161,382,169,384,176,396,180,403,183,414,190,419,202,415,211,416,221,420,232,424,245,428,253,433,260,430,272,423,278,425,286,438,291,450,292,464,292,467,285,476,283"
            shape="poly" class="cursor-pointer">
          <area target="_parent" alt="Le Port" title="Le Port" v-on:click="selectCommune('Le Port')"
            coords="274,123,277,115,281,106,284,98,288,88,303,92,318,94,325,96,329,107,328,119,326,129,323,136,311,132,299,128,287,127,277,129"
            shape="poly" class="cursor-pointer">
          <area target="_parent" alt="La Possession" title="La Possession" v-on:click="selectCommune('La Possession')"
            coords="326,134,331,121,331,101,330,91,350,85,359,72,364,68,374,62,383,52,392,64,399,81,400,89,401,98,412,108,415,120,423,130,421,148,419,164,434,163,451,169,465,177,475,186,481,198,483,207,479,213,477,223,477,241,477,249,468,257,471,268,481,278,488,282,472,281,463,283,460,288,453,290,439,292,423,283,425,276,434,260,428,246,415,214,416,203,412,187,402,181,387,174,379,164,368,153,353,145,340,144,332,143"
            shape="poly" class="cursor-pointer">
          <area target="_parent" alt="Saint-Denis" title="Saint-Denis" v-on:click="selectCommune('Saint-Denis')"
            coords="390,49,401,44,407,38,416,33,430,26,442,25,454,25,466,26,473,20,481,28,495,35,515,38,526,34,531,42,535,56,535,65,536,75,543,82,539,91,532,98,530,105,525,115,522,123,522,129,519,134,519,140,519,149,519,156,516,164,508,169,504,176,499,184,489,190,481,198,473,182,458,170,447,164,431,161,417,157,423,136,421,124,411,111,402,99,399,84,392,68,386,57"
            shape="poly" class="cursor-pointer">
          <area target="_parent" alt="Sainte-Marie" title="Sainte-Marie" v-on:click="selectCommune('Sainte-Marie')"
            coords="499,187,501,178,511,171,521,163,519,155,521,126,526,117,532,105,535,95,543,84,536,72,534,55,530,41,541,36,560,43,579,48,589,47,598,45,611,47,614,52,612,62,609,80,613,88,615,95,619,103,610,110,603,118,600,128,594,138,589,151,584,159,579,172,576,178,566,182,557,184,550,185,544,177,535,177,529,178,518,183,512,188"
            shape="poly" class="cursor-pointer">
          <area target="_parent" alt="Sainte-Suzanne" title="Sainte-Suzanne" v-on:click="selectCommune('Sainte-Suzanne')"
            coords="578,178,587,156,591,140,597,129,611,116,619,102,615,87,611,72,615,58,614,50,626,49,636,50,644,56,659,65,673,68,675,80,684,89,687,97,688,110,679,116,672,119,665,119,661,125,651,133,637,141,628,149,621,159,614,165,604,176,596,180,586,183"
            shape="poly" class="cursor-pointer">
          <area target="_parent" alt="Saint-André" title="Saint-André" v-on:click="selectCommune('Saint-André')"
            coords="615,163,628,152,636,143,646,135,653,133,662,128,668,120,676,121,685,113,691,96,679,82,675,76,675,68,694,72,709,81,721,92,727,101,739,113,741,119,753,131,757,141,749,149,741,153,727,156,716,153,697,150,690,148,679,157,674,161,666,165,658,165,656,171,649,176,635,176,624,175,617,173"
            shape="poly" class="cursor-pointer">
          <area target="_parent" alt="Bras-Panon" title="Bras-Panon" v-on:click="selectCommune('Bras-Panon')"
            coords="593,262,599,253,599,234,593,218,595,204,603,196,614,188,623,180,637,177,653,172,665,163,680,152,695,149,709,149,723,156,729,152,751,147,756,156,756,171,755,181,748,184,734,191,724,199,724,208,720,215,709,218,700,218,689,221,683,225,675,225,667,225,660,233,656,243,651,249,638,257,635,269,627,278,615,278,609,272"
            shape="poly" class="cursor-pointer">
          <area target="_parent" alt="Saint-Benoît" title="Saint-Benoît" v-on:click="selectCommune('Saint-Benoît')"
            coords="523,309,534,298,546,290,556,275,565,275,580,267,592,265,604,268,618,277,633,279,646,258,659,240,666,227,681,226,703,215,719,213,723,201,729,190,747,182,757,180,760,196,761,205,772,213,782,223,787,232,795,238,795,250,797,260,806,270,821,283,828,290,835,301,828,304,818,316,810,327,807,337,807,345,807,351,804,361,798,368,794,377,784,381,778,383,762,368,748,351,737,337,724,324,713,313,705,303,691,301,681,311,672,316,666,321,653,329,639,334,629,329,619,333,613,337,604,340,594,341,580,339,570,341,553,341,541,341,531,325,526,319"
            shape="poly" class="cursor-pointer">
          <area target="_parent" alt="Salazie" title="Salazie" v-on:click="selectCommune('Salazie')"
            coords="523,306,510,297,498,283,486,277,473,267,471,256,476,249,477,232,479,217,486,212,486,200,498,190,516,187,531,180,544,179,557,184,568,182,584,181,598,179,618,168,623,178,613,189,598,198,598,208,594,221,598,232,599,244,596,256,589,264,572,272,564,273,553,286,541,292,534,302"
            shape="poly" class="cursor-pointer">
          <area target="_parent" alt="Cilaos" title="Cilaos" v-on:click="selectCommune('Cilaos')"
            coords="440,385,432,374,428,363,425,355,425,338,430,330,440,320,448,315,460,307,473,301,480,294,489,281,498,283,508,295,518,304,528,318,535,331,536,345,536,359,532,370,528,379,524,386,516,393,508,401,497,407,489,410,475,410,468,410,459,406,449,396"
            shape="poly" class="cursor-pointer">
          <area target="_parent" alt="Saint-Louis" title="Saint-Louis" v-on:click="selectCommune('Saint-Louis')"
            coords="407,527,397,516,404,505,405,492,407,483,407,469,406,451,406,438,403,425,397,416,404,396,417,377,422,363,429,368,435,379,443,394,460,401,477,408,487,414,486,427,485,441,485,458,485,469,484,478,486,488,487,496,487,506,481,515,479,521,466,528,446,531,433,538,423,543"
            shape="poly" class="cursor-pointer">
          <area target="_parent" alt="Entre-Deux" title="Entre-Deux" v-on:click="selectCommune('Entre-Deux')"
            coords="481,521,492,491,491,478,486,468,488,448,491,434,490,416,505,404,529,376,534,357,540,343,554,343,557,354,558,367,561,378,563,387,565,398,556,398,547,404,545,415,539,420,539,433,545,438,543,451,535,456,530,459,526,465,517,471,524,474,515,477,507,485,501,489,499,499,499,506,492,514"
            shape="poly" class="cursor-pointer">
          <area target="_parent" alt="Plaine des Palmistes" title="Plaine des Palmistes" v-on:click="selectCommune('Plaine des Palmistes')"
            coords="616,340,623,345,624,352,629,360,629,370,630,380,646,385,664,394,675,389,682,379,690,391,702,401,710,414,713,422,725,413,730,403,736,399,745,401,758,394,769,388,774,382,726,320,709,306,699,301,687,301,679,313,673,316,664,320,656,327,646,330,628,327,623,330"
            shape="poly" class="cursor-pointer">
          <area target="_parent" alt="Sainte-Rose" title="Sainte-Rose" v-on:click="selectCommune('Sainte-Rose')"
            coords="704,458,709,440,711,425,726,414,733,401,742,401,756,395,776,384,795,378,801,366,808,352,807,338,814,322,827,305,836,301,847,319,853,328,863,323,872,330,880,338,888,343,897,347,900,355,907,376,909,390,910,397,902,398,900,407,898,418,895,426,888,432,884,440,882,447,880,460,878,469,878,478,745,465,713,461"
            shape="poly" class="cursor-pointer">
          <area target="_parent" alt="Le Tampon" title="Le Tampon" v-on:click="selectCommune('Le Tampon')"
            coords="510,485,518,475,526,465,539,456,545,445,543,426,545,410,554,402,565,401,560,380,560,357,560,342,576,342,594,345,607,345,618,345,624,356,630,368,633,379,643,387,661,394,670,387,681,382,694,393,703,406,710,417,706,428,694,416,683,415,671,426,659,437,652,451,648,468,648,482,646,499,641,510,631,518,623,522,616,530,613,537,596,544,591,551,575,558,568,559,557,547,543,544,549,536,542,523,530,514,520,499"
            shape="poly" class="cursor-pointer">
          <area target="_parent" alt="Saint-Pierre" title="Saint-Pierre" v-on:click="selectCommune('Saint-Pierre')"
            coords="425,546,445,535,472,529,490,519,498,505,504,489,516,492,528,514,544,522,546,540,557,542,567,553,576,555,592,545,615,536,625,522,639,513,645,507,647,519,636,530,631,538,621,545,617,550,608,557,596,560,589,567,582,574,577,589,574,602,571,614,559,612,538,605,529,603,512,604,507,593,496,593,485,587,479,574,468,574,452,574,442,567,433,558"
            shape="poly" class="cursor-pointer">
          <area target="_parent" alt="Petite-Ile" title="Petite-Ile" v-on:click="selectCommune('Petite-Ile')"
            coords="575,614,576,599,579,583,581,569,592,561,606,558,616,556,623,545,633,536,640,526,647,526,647,535,647,544,640,550,635,563,629,577,629,584,631,598,632,606,632,614,628,619,621,628,613,630,605,630,593,629,585,622"
            shape="poly" class="cursor-pointer">
          <area target="_parent" alt="Saint-Joseph" title="Saint-Joseph" v-on:click="selectCommune('Saint-Joseph')"
            coords="626,623,630,610,632,590,634,567,639,549,650,537,650,521,649,501,648,478,653,451,657,433,673,423,687,417,701,421,703,434,703,457,722,462,732,465,732,476,737,491,739,499,751,509,749,519,747,537,746,547,749,559,753,566,759,578,758,593,763,607,764,617,764,626,758,628,745,630,735,634,730,640,720,641,708,645,698,649,695,642,679,640,670,643,661,644,647,640,636,631"
            shape="poly" class="cursor-pointer">
          <area target="_parent" alt="Saint-Philippe" title="Saint-Philippe" v-on:click="selectCommune('Saint-Philippe')"
            coords="762,632,762,605,759,577,745,554,745,531,748,514,754,507,742,500,738,486,734,472,734,466,759,462,872,481,875,495,878,511,879,519,878,532,878,546,878,560,880,570,881,584,872,593,866,603,857,612,843,617,829,617,819,617,814,622,801,623,790,623,779,628"
            shape="poly" class="cursor-pointer">
        </map>
      </div>
      <!--Ligne 2 : Cards d'informations sur les communes-->
      <div class="w-full">
        <div id="card" v-if="selectedCommune" class="bg-gray-100 p-4 rounded-md">
          <!--Nom de la commune-->
          <h2 class="text-xl font-bold mb-4">{{ selectedCommune.nom }} </h2>
          <div class="mb-4">
            <!--Population-->
            <p><strong>Population : </strong> {{ selectedCommune ? selectedCommune.population + ' habitants' : 'N/A' }}</p>
            <!--Superficie-->
            <p><strong>Superficie : </strong>{{  selectedCommune ? selectedCommune.surface + ' km²' : 'N/A'}} </p>
            <!--Densité de population-->
            <p><strong>Densité : </strong>{{  selectedCommune ? selectedCommune.densité + ' habitants/km²' : 'N/A'}} </p>
          </div>
          <div>
            <p>Source : <a href="https://fr.wikipedia.org/wiki/Liste_des_communes_de_La_R%C3%A9union" target="_blank">Wikipédia</a> et IGN BD TOPO &copy;</p>
          </div>
        </div>
      </div> 
    </div>
  </div>
</template>

<style scoped>
.area:hover {
  cursor: pointer;
  background-color: #E5E7EB;
}
</style>
