<!--components/CookieBanner.vue-->
<script setup>
  import { ref } from 'vue';

  const getCookieConsent = () => {
    return localStorage.getItem('cookieConsent') === 'true';
  }

  const isConsentGiven = ref(getCookieConsent());

  const giveConsent = () => {
    localStorage.setItem('cookieConsent', 'true');
    isConsentGiven.value = true;
  }

  const denyConsent = () => {
    localStorage.setItem('cookieConsent', 'false');
    isConsentGiven.value = true;
  }

</script>

<template>
  <transition name="slide-down">
    <div v-if="!isConsentGiven" class="cookie-banner bg-white p-4 text-center fixed top-0 left-0 right-0 z-50 shadow-md">
    <p class="mb-4">
      Ce site utilise des cookies pour améliorer votre expérience.
    </p>
    <RouterLink to="/mentions" class="text-blue-600 hover:underline">En savoir plus</RouterLink>
    <button type="button" @click="giveConsent" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded ml-2">Accepter</button>
    <button type="button" @click="denyConsent" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded ml-2">Refuser</button>
  </div>
  </transition>
 
</template>

<style scoped>

.cookie-banner {
  z-index: 60;
}
.slide-down-enter-active, .slide-down-leave-active {
  transition: all 0.5s ease;
}

.slide-down-enter, .slide-down-leave-to /* .slide-down-leave-active in <2.1.8 */ {
  transform: translateY(-100%);
  opacity: 0;
}
</style>