<script>
  import { library } from '@fortawesome/fontawesome-svg-core';
  import { faGithub, faGitlab, faCodepen, faLinkedin } from '@fortawesome/free-brands-svg-icons';
  import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';


  library.add(faGithub, faGitlab, faCodepen, faLinkedin);

  export default {
    components: {
      FontAwesomeIcon
    }
  }
</script>

<template>
  <div>
    <footer>
      <p>&copy; 2024</p>
      <RouterLink class="hover:text-gray-300" to="/mentions">Mentions légales</RouterLink>
      <div class="social-icons">
        <p>Suivez-moi sur les réseaux sociaux !</p>
        <!--Github-->
        <a href="https://github.com/SylvieHoareau" target="_blank" aria-label="Lien vers le profil Github de Sylvie HOAREAU"><FontAwesomeIcon :icon="['fab', 'github']" class="icon" /></a>
        <!--Gitlab-->
        <a href="https://gitlab.com/hoareausylvie" target="_blank" aria-label="Lien vers le profil Gitlab de Sylvie HOAREAU"><FontAwesomeIcon :icon="['fab', 'gitlab']" class="icon" /></a>
        <!--Codepen-->
        <a href="https://codepen.io/SylvieHoareau" target="_blank" aria-label="Lien vers le profil Codepen de Sylvie HOAREAU"><FontAwesomeIcon :icon="['fab', 'codepen']" class="icon"/></a>
        <!--LinkedIn-->
        <a href="https://www.linkedin.com/in/sylvie-hoareau-86731b303/" target="_blank" aria-label="Lien vers le profil Linked In de Sylvie HOAREAU"><FontAwesomeIcon :icon="['fab', 'linkedin']" class="icon"/></a>
      </div>
    </footer>
  </div>
</template>

<style scoped>

/* Variables CSS pour une personnalisation facile */
:root {
  --primary-color: #333;
  --secondary-color: #f8f9fa;
  --accent-color: #007bff;
  --hover-color: #0056b3;
  --text-color: #ffffff;
  --font-family: 'Arial, sans-serif';
}

footer {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 20px 0;
  text-align: center;
  font-family: var(--font-family);
}

footer p {
  margin: 0;
  font-size: 14px;
}

footer a {
  color: var(--accent-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

footer a:hover {
  color: var(--hover-color);
}

footer .social-icons {
  margin-top: 10px;
}

footer .social-icons p {
  margin-bottom: 10px;
}

footer .social-icons .icon {
  margin: 0 10px;
  font-size: 24px;
  transition: transform 0.3 ease, color 0.3s ease;
}

footer .social-icons .icon:hover {
  transform: scale(1.2);
  color: var(--hover-color);
}

@media (max-width: 600px) {
  footer {
    text-align: center;
  }
}

</style>
