<!--Globe3D.vue-->
<script setup>
import * as THREE from 'three';
import { onMounted, ref } from 'vue';

const globeContainer = ref(null);

// Utilisation de la fonction onMounted pour exécuter du code après que le composant est monté dans le DOM
onMounted(() => {
  // Création de la scène
  var scene = new THREE.Scene();

  // Création de la caméra
  var camera = new THREE.PerspectiveCamera(75, window.innerWidth / window.innerHeight, 0.1, 1000);
  camera.position.z = 5;

  // Création du rendu
  var renderer = new THREE.WebGLRenderer({ canvas: document.querySelector('#globe')});
  renderer.setSize(window.innerWidth, window.innerHeight);
  // document.body.appendChild(renderer.domElement);

  // Ajout de la lumière
  var light = new THREE.DirectionalLight(0xffffff, 1);
  light.position.set(5, 5, 5).normalize();
  scene.add(light);

  // Ajout d'une sphère pour représenter le globe
  var geometry = new THREE.SphereGeometry(2, 32, 32);
  var material = new THREE.MeshBasicMaterial({ map: new THREE.TextureLoader().load('https://threejs.org/examples/textures/planets/earth_lights_2048.png') });
  var globe = new THREE.Mesh(geometry, material);
  scene.add(globe);

  // Ajout d'un wireframe pour la sphère
  var wireframe = new THREE.WireframeGeometry(geometry);
  var line = new THREE.LineSegments(wireframe, new THREE.LineBasicMaterial({ color: 0xADD8E6 }));
  scene.add(line);

  // Fonction pour convertir des coordonnées géographiques en coordonnées 3D
  const latLonToVector3 = (lat, lon, radius, height) => {
    var phi = (90 - lat) * (Math.PI / 180);
    var theta = (lon + 180) * (Math.PI / 180);

    var x = -((radius + height) * Math.sin(phi) * Math.cos(theta));
    var y = ((radius + height) * Math.cos(phi));
    var z = ((radius + height) * Math.cos(phi) * Math.sin(theta));

    return new THREE.Vector3(x, y, z);
  }

  // Fonction pour ajouter des pics de données
  const addDataSpikes = (data) => {
      data.forEach(point => {
        var { lat, lon, value } = point;
        var height = value * 0.1; // Hauteur de pic basée sur la valeur des données

        var spikeGeometry = new THREE.CylinderGeometry(0.02, 0.02, height, 8, 1);
        var spikeMaterial = new THREE.MeshBasicMaterial({ color: 0x00ff00 });
        var spike = new THREE.Mesh(spikeGeometry, spikeMaterial);

        var position = latLonToVector3(lat, lon, 2, height / 2);
        spike.position.set(position.x, position.y, position.z);

        spike.lookAt(globe.position);
        spike.rotateX(Math.PI / 2);

        scene.add(spike);

      })
  }

  // Données (latitude, longitude, valeur)
  var data = [
      { lat: 37.7749, lon: -122.4194, value: 10 }, // San Francisco
      { lat: 40.7128, lon: -74.0060, value: 15 }, // New York
      { lat: 51.5074, lon: -0.1278, value: 20 }, // London
      { lat: 35.6895, lon: 139.6917, value: 25 }, // Tokyo
      { lat: 48.8566, lon: 2.3522, value: 12 }, // Paris
      { lat: -33.8688, lon: 151.2093, value: 18 }, // Sydney
      { lat: 34.0522, lon: -118.2437, value: 17 }, // Los Angeles
      { lat: 55.7558, lon: 37.6173, value: 14 }, // Moscow
      { lat: 19.4326, lon: -99.1332, value: 13 }, // Mexico City
      { lat: 28.6139, lon: 77.2090, value: 21 }, // New Delhi
      { lat: -23.5505, lon: -46.6333, value: 16 }, // Sao Paulo
      { lat: 39.9042, lon: 116.4074, value: 22 }, // Beijing
      { lat: 1.3521, lon: 103.9198, value: 11 }, // Singapore
      { lat: 52.5200, lon: 13.4050, value: 19 }, // Berlin
      { lat: 41.9028, lon: 12.4964, value: 15 }, // Rome
  ];

  addDataSpikes(data);

  // Fonction pour rendre la scène interactive
  function animate() {
      requestAnimationFrame(animate);
      // Vérifier si le globe est défini avant de l'utiliser
      if (globe) {
        // Rotation du globe
        globe.rotation.y += 0.01;
        line.rotation.y += 0.01;
        renderer.render(scene, camera);
      }
  }
  animate();

  // Gérer le redimensionnement de la fenêtre
  window.addEventListener('resize', () => {
    camera.aspect = window.innerWidth / window.innerHeight;
    camera.updateProjectionMatrix();
    renderer.setSize(window.innerWidth, window.innerHeight);
  })
})
</script>

<template>
  <div>
    <!--Globe 3D-->
    <canvas id="globe" ref="globeContainer"></canvas>
  </div>
 
</template>

<style scoped>
canvas {
  width: 100%;
  height: 500px;
  display: block;
  margin: auto;
}
</style>
