<!--Globe3D.vue-->
<script setup>
import * as THREE from 'three';
import { onMounted } from 'vue';

// Utilisation de la fonction onMounted pour exécuter du code après que le composant est monté dans le DOM
onMounted(() => {
  // Création de la scène
  var scene = new THREE.Scene();

  // Création de la caméra
  var camera = new THREE.PerspectiveCamera(75, window.innerWidth / window.innerHeight, 0.1, 1000);
  camera.position.z = 5;

  // Création du rendu
  var renderer = new THREE.WebGLRenderer({ canvas: document.querySelector('#globe')});
  renderer.setSize(window.innerWidth, window.innerHeight);
  // document.body.appendChild(renderer.domElement);

  // Ajout d'une sphère pour représenter le globe
  var geometry = new THREE.SphereGeometry(2, 32, 32);
  var material = new THREE.MeshBasicMaterial({ map: new THREE.TextureLoader().load('https://threejs.org/examples/textures/land_ocean_ice_cloud_2048.jpg') });
  var globe = new THREE.Mesh(geometry, material);
  scene.add(globe);

  // Fonction pour rendre la scène interactive
  function animate() {
      requestAnimationFrame(animate);
      // Vérifier si le globe est défini avant de l'utiliser
      if (globe) {
          globe.rotation.y += 0.01;
          renderer.render(scene, camera);
      }
  }
  animate();
})
</script>

<template>
  <div>
    <!--Globe 3D-->
    <canvas id="globe" ref="globeContainer"></canvas>
  </div>
 
</template>

<style scoped>
canvas#globe {
  width: 100%;
  height: 500px;
  display: block;
  margin: auto;
}
</style>
