<!--MvtMap.vue-->
<script setup>

</script>

<template>
  <div>
    <!--Carte des mouvements de terrain-->
    <img src="../assets/carte-mvt-reunion-974.webp" alt="carte des type des mouvements de terrain à La Réunion">
  </div>
 
</template>

<style scoped>
img {
  width: 100%;
  height: 500px;
  display: block;
  margin: auto;
  padding-top: 60px;
}
</style>
