<!--Components/NavbarSection.vue-->
<script setup>
import { onMounted, onUnmounted, ref } from 'vue';
import { RouterLink } from 'vue-router';

const isMenuOpen = ref(false);
const windowWidth = ref(0);

const toggleMenu = () => {
  isMenuOpen.value = !isMenuOpen.value;
}

const updateWindowWidth = () => {
  windowWidth.value = window.innerWidth;
}

onMounted(() => {
  updateWindowWidth();
  window.addEventListener('resize', updateWindowWidth);
});

onUnmounted(() => {
  window.removeEventListener('resize', updateWindowWidth);
});

</script>

<template>
  <div class="fixed top-0 w-full bg-white shadow-md flex items-center justify-between px-4 py-2 mx-0 z-50">
    <div class="flex flex-row items-center justify-between">
        <img alt="Logo" class="h-12 w-12" src="@/assets/logo-sylvie.webp" width="125" height="125" />
        <h1 class="ml-4">Portfolio</h1>
      </div>
      <div class="flex lg:hidden">
        <button @click="toggleMenu" class="text-gray-700 focus:outline-none" aria-label="Menu de navigation">
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="httpp://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </button>
      </div>

      <nav 
        :class="{
          'block': isMenuOpen || windowWidth >= 1024, 
          'hidden': !isMenuOpen && windowWidth < 1024
        }" 
        class=" navbar flex flex-col lg:flex-row lg:items-center lg:space-x-4 lg:static absolute top-16 left-0 w-full bg-white lg:bg-transparent lg:w-auto p-4 lg:p-0 z-40 lg:z-auto shadow-md lg:shadow-none"
        role="navigation"
        aria-label="Menu principal"
      >
        <RouterLink class="nav-link" to="/">Accueil</RouterLink>
        <RouterLink class="nav-link" to="/about">A propos</RouterLink>
        <RouterLink class="nav-link" to="/cartotheque">Cartothèque</RouterLink>
        <RouterLink class="nav-link" to="/skills">Compétences</RouterLink>
        <RouterLink class="nav-link" to="/contact">Contact</RouterLink>
        <!-- <RouterLink class="nav-link" to="/login">Connexion</RouterLink> -->
      </nav>
  </div>
</template>

<style scoped>

.navbar {
  z-index: 50;
}
.nav-link {
  @apply px-3 py-2 text-gray-700 hover:bg-black rounded transition-colors duration-300;
}

.nav-link-active {
  @apply text-black border-b-2 border-black;
}
.nav-link:hover {
  color: #ffffff;
  background-color: #000312;
  transition: color 0.3s ease;
}

h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2rem;
}
</style>
