<!--Globe3D.vue-->
<script setup>

</script>

<template>
  <div>
    <!--Carte de la population-->
    <img src="../assets/population.webp" alt="carte de la population">
  </div>
 
</template>

<style scoped>
img {
  width: 100%;
  height: 500px;
  display: block;
  margin: auto;
  padding-top: 60px;
}
</style>
