<script>
    import 'animate.css/animate.css';
    import { library } from '@fortawesome/fontawesome-svg-core';
    import { faMapMarkedAlt, faChartLine, faDatabase, faMap } from '@fortawesome/free-solid-svg-icons';
    import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';

    library.add(faMapMarkedAlt, faChartLine, faDatabase, faMap);

    export default {
        components: {
            FontAwesomeIcon
        },
        data () {
            return {
                skills: [
                    {
                        icon: { prefix: 'fas', iconName: 'map-marked-alt', alt: 'Icônes de cartes avec marquage' },
                        title: 'Création de web maps',
                        description: 'Conception et déploiement de cartes interactives pour le web, en utilisant les blibliothèques Leaflet et Open Layers pour une visualisation géospatiale dynamique et riche en fonctionnalités',
                        tags: [
                            { text: '#openlayers', color: '#009688' },
                            { text: '#leaflet', color: '#039B54A'},
                            { text: '#d3', color: '#01976D2' }, 
                        ]
                    },
                    {
                        icon: { prefix: 'fas', iconName: 'chart-line', alt: 'Icônes de graphiques' },
                        imageAlt: 'chart',
                        title: 'Dataviz',
                        description: 'Visualisation de données (Dataviz), transformant des ensembles de données complexes en réprésentations intuitives et informatiques',
                        tags: [
                            { text: '#anaconda', color: '#009688' },
                            { text: '#jupyter', color: '#039B54A' },
                            { text: '#django', color: '#01976D2' },
                        ]
                    },
                    {
                        icon: { prefix: 'fas', iconName: 'database', alt: 'Icônes de base de données' },
                        title: 'Gestion de base de données géographiques',
                        description: 'Gestion de base de données géographques, maîtrisant les requêtes SQL avec MySQL et PostgreSQL, ainsi que les solutions NoSQL telles que MongoDB pour un stockage et une récupération efficaces des données spatiales',
                        tags: [
                            { text: '#MySQL', color: '#009688' },
                            { text: '#PostgreSQL', color: '#039B54A' },
                            { text: '#MongoDB', color: '#01976D2' },
                        ]
                    },
                    {
                        icon: { prefix: 'fas', iconName: 'map', alt: 'Icônes de cartes' },
                        title: 'SIG (Systèmes d\'Information Géographique)',
                        description: 'Compétences approfondies en SIG, permettant l\'analyse spatiale, la gestion des données géographiques, et la création de cartes détaillées',
                        tags: [
                            { text: '#sig', color: '#009688' },
                            { text: '#qgis', color: '#039B54A' },
                            { text: '#arcgis', color: '#01976D2' },
                        ]
                    }
                ]
            }
        }
    }
</script>
<template>
    <div class="flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-4">
        <div v-for="(skill, index) in skills" :key="index" class="max-w-sm rounded overflow-hidden shadow-lg mr-4">
            <div class="w-full h-48 flex items-center justify-center">
                <FontAwesomeIcon :icon="[skill.icon.prefix, skill.icon.iconName]" :alt="skill.icon.alt" class="text-6xl" />
            </div>
            <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">{{ skill.title }}</div>
                <p class="text-gray-700 text-base">{{  skill.description }} </p>
            </div>
            <div class="px-6 pt-4 pb-2">
                <span v-for="tag in skill.tags" :key="tag.text" :style="{ backgroundColor: tag.color}" class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2" >
                    {{ tag.text }}
                </span>
            </div>
            <div>
                <p><a :href="imageCreditLink">{{ skill.imageCreditText }}</a></p>
            </div>
        </div>
    </div>

</template>

<style scoped>
    h1 {
        font-weight: 500;
        font-size: 2.6rem;
        position: relative;
        top: -10px;
    }

    .skills-card {
        animation: fadeInUp 1s ease-out both;
    }
</style>