<!--ZnieffMap.vue-->
<script setup>

</script>

<template>
  <div>
    <!--Carte des ZNIEFF-->
    <img src="../assets/znieff.webp" alt="carte des ZNIEFF">
  </div>
 
</template>

<style scoped>
img {
  width: 100%;
  height: 500px;
  display: block;
  margin: auto;
  padding-top: 60px;
}
</style>
