<script>
import { RouterView } from 'vue-router'
import NavbarSection from './components/NavbarSection.vue';
import FooterSection from './components/FooterSection.vue';
import CookieBanner from './components/CookieBanner.vue';

export default {
  name: 'App',
  components: {
    CookieBanner,
    NavbarSection,
    FooterSection
  }
}
</script>

<template>
  <div class="flex flex-col items-center">
    <CookieBanner />
    <NavbarSection/>
    <div class="flex-grow">
      <RouterView />
    </div>
    <FooterSection />
  </div>
</template>

<style>
/* @import "./main.css"; */
.flex-grow {
  flex-grow: 1; /*Fait en sorte que le contenu prenne tout l'espace vertical disponible */
}
</style>
