h1[data-v-0d68c6f3]{color:#333;font-size:2rem;font-weight:700}h1[data-v-0d68c6f3],p[data-v-0d68c6f3]{margin-bottom:1rem}p[data-v-0d68c6f3]{color:#4a4a4a;font-size:1rem;line-height:1.6;max-width:600px;text-align:center}
