<template>
  <main class="flex flex-col items-center justify-center min-h-screen py-16 bg-gray-100 lg:pt-16 md:pt-64 sm:pt-72">
    <div class="container mx-auto px-4 lg:px-8 lg:pt-16 md:pt-64 sm:pt-72">
      <h1 class="text-4l font-bold text-gray-800 mb-8 text-center">A propos</h1>
      <section class="mb-12">
        <p class="text-lg lg:text-2xl md:text-2xl mb-6 text-center">Passionnée par la géographie et l'informatique, je me suis naturellement tourner vers la géomatique. Mon objectif est d'aider les entreprises et les organisations à mieux comprendre et utiliser les données géospatiales pour prendre des décisions éclairées.</p>
      </section>
      <section class="mb-12">
        <p class="text-lg lg:text-2xl md:text-2xl mb-6 text-center">Je continue à me former en continu pour être à la pointe des dernières avancées dans le domaine. Mon expertise inclut la cartographie, l'analyse spatiale, la gestion des systèmes d'information géographique (SIG) et le développement web.</p>
      </section>
      <section class="mb-12">
        <p class="text-lg lg:text-2xl md:text-2xl mb-6 text-center">J'aimerais avoir l'opportunité de mettre mes compétences et ma passion pour ce métier au service d'une entreprise ou d'une organisation. Mon approche centrée sur le client et ma capacité à fournir des services personnalisés et adaptés aux besoins spécifiques de chaque projet sont des atouts que je souhaite mettre en avant. Que vous ayez des besoins de visualisations cartographiques détaillées, d'analyses spatiales complexes ou de conseils en gestion de données géospatiales, je suis là pour vous accompagner à chaque étape.</p>
      </section>
      <section class="mb-12">
        <p class="text-xl md:text-2xl lg:text-3xl font-semibold text-center">Contactez-moi pour discuter de la manière dont nous pouvons collaborer pour transformer vos données géographiques en insights précieux.</p>
      </section>
    </div>
  </main>
    <!-- <div class="lg:pt-16 md:pt-56 sm:pt-64">
     
    </div> -->
</template>

<style scoped>
h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 1rem;
}

p {
  color: #4a4a4a;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  text-align: center;
  max-width: 600px;
}
</style>
