<!--CallView.vue-->
<script setup>


</script>

<template>
  <main
    class="flex flex-wrap lg:flex-row md:flex-col sm:flex-col items-center justify-center pt-16 lg:pt-16 md:pt-56 sm:pt-64 min-h-screen bg-gray-100">
    <section class="w-full max-w-md px-4 py-8 lg:pt-16 md:pt-56 sm:pt-64">
      <h1 class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-semibold text-gray-800 mb-8">Contactez-moi</h1>
      <h2 class="text-xl font-semibold mb-2">Sylvie HOAREAU</h2>
      <p class="mb-2"><strong>Email : </strong>hoareausylvie@outlook.fr</p>
      <p><strong>Téléphone :</strong> 0692 99 33 59</p>
    </section>
    <section class="w-full max-w-md max-h-md px-4 py-8 shadow-lg rounded">
      <img
        src="https://images.unsplash.com/photo-1500817487388-039e623edc21?q=80&w=1889&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Paysage de forêt près d'une montagne glaciaire" class="w-full mb-4 rounded-lg">
      <p class="text-sm">Photo de 
        <a
          href="https://unsplash.com/fr/@samferrara?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
          class="underline hover:text-blue-600 focus:ring-2 focus:ring-blue-500 transition duration-300 ease-in-out"
        >SamuelFerrara</a>
        sur 
        <a
          href="https://unsplash.com/fr/photos/foret-pres-de-la-montagne-glaciaire-pendant-la-journee-dKJXkKCF2D8?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
          class="underline hover:text-blue-600 focus:ring-2 focus:ring-blue-500 transition duration-300 ease-in-out"
        >Unsplash</a>
      </p>
    </section>
  </main>
</template>

<style scoped>
h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 1.5rem;
}

.text-green-700 {
  color: #2f855a;
}

.text-red-700 {
  color: #c53030;
}

.focus\:ring-2:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-offset-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.focus\:ring-blue-500:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgba(59, 130, 246, var(--tw-ring-opacity));
}

</style>
