<script setup>
import { RouterLink } from 'vue-router'
</script>

<template>
  <main class="min-h-screen bg-gray-100 pt-16 lg:pt-16 md:pt-64 sm:pt-72">
    <div class="container mx-auto px-4 lg:px:8 lg:pt-16 md:pt-64 sm:pt-72">
      <h1 class="text-4l font-semibold text-gray-800 mb-8 text-center">Cartothèque</h1>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
        <!-- Carte 1 -->
        <section class="bg-white rounded-lg shadow-md flex flex-col overflow-hidden">
          <img src="../assets/population.webp" alt="carte population" class="w-full h-auto" />
          <div class="p-4 flex flex-col flex-grow">
            <h2 class="text-xl font-semibold mb-2">Carte de la population</h2>
            <p class="text-gray-600 flex-grow">
              Cette carte est réalisée avec des cercles proportionnels selon la méthode des seuils naturels
              de Jenks. 
            </p>
            <p><strong>Technologies utilisées :</strong> QGIS</p>
            <RouterLink to="/populationmap"
              class="mt-4 bg-blue-600 text-white hover:bg-blue-800 focus:ring-2 focus:ring-blue-300 rounded p-2 text-center">Voir</RouterLink>
          </div>
        </section>
        <!-- Carte 2 -->
        <section class="bg-white rounded-lg shadow-md flex flex-col overflow-hidden">
          <img src="../assets/znieff.webp" alt="carte population" class="w-full h-auto" />
          <div class="p-4 flex flex-col flex-grow">
            <h2 class="text-xl font-semibold mb-2">Carte des ZNIEFF terrestres et maritimes</h2>
            <p class="text-gray-600 flex-grow">Les ZNIEFF sont des zones naturelles qui présentent un intérêt particulier pour la conservation de la nature. Ces zones ne sont pas forcément protégées par des lois, mais elles sont souvent prises en compte dans la planification de l'utilisation des terres.</p>
            <p><strong>Technologies utilisées :</strong> QGIS</p>
            <RouterLink to="/znieff" class="mt-4 bg-blue-600 text-white hover:bg-blue-800 focus:ring-2 focus:ring-blue-300 rounded p-2 text-center">Voir
            </RouterLink>
          </div>
        </section>
        <!-- Carte 3 -->
        <section class="bg-white rounded-lg shadow-md flex flex-col overflow-hidden">
          <img
            src="https://www.arcgis.com/sharing/rest/content/items/eb9a4525603c4c86866b1e38fbb148b2/info/thumbnail/ago_downloaded.png"
            alt="carte population" class="w-full h-auto" />
          <div class="p-4 flex flex-col flex-grow">
            <h2 class="text-xl font-semibold mb-2">Carte des forêts</h2>
            <p class="text-gray-600 flex-grow">Cartographie des forêts de La Réunion</p>
            <p><strong>Technologies utilisées :</strong> ArcGIS / Flux WMS de l'IGN</p>
            <a href="https://www.arcgis.com/home/item.html?id=eb9a4525603c4c86866b1e38fbb148b2" target="_blank" rel="noopener"
              class="mt-4 bg-blue-600 text-white hover:bg-blue-800 focus:ring-2 focus:ring-blue-300 rounded p-2 text-center">Voir</a>
          </div>
        </section>
        <!-- Carte 4 -->
        <section class="bg-white rounded-lg shadow-md flex flex-col overflow-hidden">
          <img src="../assets/carte-cavites-reunion.webp" alt="carte des cavités sous-terraines"
            class="w-full h-auto" />
          <div class="p-4 flex flex-col flex-grow">
            <h2 class="text-xl font-semibold mb-2">Inventaire des cavités souterraines</h2>
            <p class="text-gray-600 flex-grow">
              Carte réalisée à partir des données Open Source de Géoservices.
            </p>
            <p><strong>Technologies utilisées :</strong> ArcGIS et fichier .csv de Géoservices</p>
            <a href="https://www.arcgis.com/home/item.html?id=7ce0f9e3eed942f49f81c5c365162efd" target="_blank" rel="noopener"
              class="mt-4 bg-blue-600 text-white hover:bg-blue-800 focus:ring-2 focus:ring-blue-300 rounded p-2 text-center">Voir
            </a>
          </div>
        </section>
        <!-- Carte 5 -->
        <section class="bg-white rounded-lg shadow-md flex flex-col overflow-hidden">
          <img src="../assets/reunion-communes.webp" alt="carte population des communes de La Réunion"
            class="w-full h-auto" />
          <div class="p-4 flex flex-col flex-grow">
            <h2 class="text-xl font-semibold mb-2">Carte clicable</h2>
            <p class="text-gray-600 flex-grow">
              Carte clicable réalisée avec les données de la BD TOPO de l'IGN
            </p>
            <p><strong>Technologies utilisées :</strong> Vue JS / Node JS</p>
            <p><strong>Langages de programmation : </strong> HTML, CSS, Javascript</p>
            <RouterLink to="/clicmap" class="mt-4 bg-blue-600 text-white hover:bg-blue-800 focus:ring-2 focus:ring-blue-300 rounded p-2 text-center">Voir
            </RouterLink>
          </div>
        </section>
        <!--Carte 6 -->
        <section class="bg-white rounded-lg shadow-md flex flex-col overflow-hidden">
          <img src="../assets/carte-mvt-reunion-974.webp" alt="carte mouvements de terrain" class="w-full h-auto" />
          <div class="p-4 flex flex-col flex-grow">
            <h2 class="text-xl font-semibold mb-2">Carte des types de mouvements de terrain</h2>
            <p class="text-gray-600 flex-grow">
              Carte réalisée avec Anaconda et Orange (Python) avec les données Open Source de
              Géorisques.
            </p>
            <p><strong>Technologies utilisées :</strong> Anaconda / Orange</p>
            <p><strong>Langages de programmation :</strong> Python</p>
            <RouterLink to="/mvt" class="mt-4 bg-blue-600 text-white hover:bg-blue-800 rounded focus:ring-2 focus:ring-blue-300 p-2 text-center">Voir
            </RouterLink>
          </div>
        </section>
        <!--Carte 7 -->
        <section class="bg-white rounded-lg shadow-md flex flex-col overflow-hidden">
          <img src="../assets/Site_D3_JS_sylviehoareau.github.io.jpeg" alt="carte limites administratives"
            class="w-full h-auto" />
          <div class="p-4 flex flex-col flex-grow">
            <h2 class="text-xl font-semibold mb-2">Carte des densités de populations</h2>
            <p class="text-gray-600 flex-grow">
              Carte réalisée avec D3 JS représentant les densités de population des communes de La
              Réunion.
            </p>
            <p><strong>Technologies utilisées : </strong> D3 JS</p>
            <p><strong>Langages de programmation : </strong> HTML, CSS, Javascript</p>
            <a href="https://sylviehoareau.github.io/MapWithD3JS/" target="_blank" rel="noopener"
              class="mt-4 bg-blue-600 text-white hover:bg-blue-800 focus:ring-2 focus:ring-blue-300 rounded p-2 text-center">Voir</a>
          </div>
        </section>
        <!-- Carte 8 -->
        <section class="bg-white rounded-lg shadow-md flex flex-col overflow-hidden">
          <img src="../assets/globe3d.png" alt="globe 3D" class="w-full h-auto" />
          <div class="p-4 flex flex-col flex-grow">
            <h2 class="text-xl font-semibold mb-2">Globe 3D</h2>
            <p class="text-gray-600 flex-grow">Globe 3D animé avec Three JS</p>
            <p><strong>Technologies utilisées : </strong> Three JS / Vite JS</p>
            <p><strong>Langages de programmation : </strong> HTML, CSS, Javascript</p>
            <RouterLink to="/globe3d" class="mt-4 bg-blue-600 text-white hover:bg-blue-800 focus:ring-2 focus:ring-blue-300 rounded p-2 text-center">Voir
            </RouterLink>
          </div>
        </section>
        <!-- Carte 9 -->
        <section class="bg-white rounded-lg shadow-md flex flex-col overflow-hidden">
          <img src="../assets/globeData.png" alt="globe 3D avec Data" class="w-full h-auto" />
          <div class="p-4 flex flex-col flex-grow">
            <h2 class="text-xl font-semibold mb-2">Globe 3D avec Data Spikes</h2>
            <p class="text-gray-600 flex-grow">
              Globe 3D animé avec représentation de données géolocalisées. Les données sont de type
              aléatoires ici.
            </p>
            <p><strong>Technologies utilisées : </strong> Three JS / Vite JS</p>
            <p><strong>Langages de programmation : </strong> HTML, CSS, Javascript</p>
            <RouterLink to="/globeData" class="mt-4 bg-blue-600 text-white hover:bg-blue-800 focus:ring-2 focus:ring-blue-300 rounded p-2 text-center">
              Voir</RouterLink>
          </div>
        </section>
      </div>
    </div>
  </main>
</template>

<style scoped>
h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 1.5rem;
}

.bg-blue-600 {
  background-color: #2563eb;
}

.hover\:bg-blue-800:hover {
  background-color: #1e40af;
}

.focus\:ring-2:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-offset-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.focus\:ring-blue-300:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgba(147, 197, 253, var(--tw-ring-opacity));
}

</style>
