<!--ContactView.vue-->
<script setup>
import { ref } from 'vue';

const name = ref('');
const surname = ref('');
const email = ref('');
const message = ref('');
const successMessage = ref('');
const errorMessage = ref('');

// const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/; // Expression régulière pour la validation de l'email

// const validateForm = () => {
//   if (!emailRegex.test(email.value)) {
//     errorMessage.value = 'Veuillez entréer une adresse email valide.';
//     return false;
//   }
// }

const handleSubmit = async () => {
  successMessage.value = '';
  errorMessage.value = '';

  try {
    // Construit la chaîne de requête à partir des données du formulaire
    // const searchParams = new URLSearchParams({
    //   surname: surname.value,
    //   name: name.value,
    //   email: email.value,
    //   message: message.value
    // });

    // Envoie la requête à l'endpoint MongoDB
    var axios = require('axios');
    var data = JSON.stringify({
        "collection": "messages",
        "database": "messages-portfolio",
        "dataSource": "Localhost",
        "projection": {
            "_id": 1
        }
    });
    var config = {
        method: 'post',
        url: process.env.MONGODB_ENDPOINT,
        headers: {
          'Content-Type': 'application/json',
          'Access-Control-Request-Headers': '*',
          'api-key': process.env.MONGOBD_API_KEY,
        },
        data: data
    };

    axios(config)
        .then(function (response) {
            console.log(JSON.stringify(response.data));
        })
        .catch(function (error) {
            console.log(error);
        });

    // const URL = '';
    // // const response = await fetch(process.env.MONGODB_APP_SERVICES_API + '?' + searchParams.toString(), {
    // const response = await fetch( URL + '?' + searchParams.toString(), {
    //   method: 'POST',
    //   headers: {
    //     'Content-Type': 'application/json'
    //   }
    // });
    // // console.log('response', response);

    if (!response.ok) {
      throw new Error('Une erreur est survenue lors de l\'envoi du formulaire.');
    }

    // const data = await response.json();
    // if (data) {
    //   successMessage.value = 'Votre message a été envoyé avec succès !';
    //   // console.log('data', data);
    // }

    // Réinitialise les champs du formulaire après l'envoi
    name.value = '';
    surname.value = '';
    email.value = '';
    message.value = '';
  } catch (error) {
    console.error('Erreur lors de l\'envoi du formulaire:', error.message);
    errorMessage.value = 'Erreur lors de l\'envoi du formulaire:' + error.message;
  }
}


</script>

<template>
  <main
    class="flex flex-wrap lg:flex-row md:flex-col sm:flex-col items-center justify-center lg:pt-16 md:pt-56 sm:pt-64 min-h-screen bg-gray-100">
    <section class="w-full max-w-md px-4 lg:pt-16 md:pt-56 sm:pt-64">
      <h1 class="text-4l font-semibold text-gray-800 mb-8">Contactez-moi</h1>
      <form @submit.prevent="handleSubmit" method="POST" class="w-full max-w-lg bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <!-- <form name="contact" method="POST" data-netify="true" action="/contact-form" class="w-full max-w-lg bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"> -->
        <div class="mb-6">
          <label class="block text-gray-700 text-base font-bold mb-2" for="surname">Prénom</label>
          <input type="text" id="surname" name="surname" v-model="surname" placeholder="Prénom"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus: shadow-outline"
            required autocomplete="given-name" aria-describedby="surname-error">
            <p id="surname-error" class="text-red-600 text-sm mt-1" v-if="errorMessage && !surname">Le prénom est requis</p>
        </div>
        <div class="mb-6">
          <label class="block text-gray-700 text-base font-bold mb-2" for="name">Nom</label>
          <input type="text" id="name" name="name" v-model="name" placeholder="Nom"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus: shadow-outline"
            required autocomplete="family-name" aria-describedby="name-error">
          <p id="name-error" class="text-red-600 text-sm mt-1" v-if="errorMessage && !name">Le nom est requis</p>
        </div>
        <div class="mb-6">
          <label class="block text-gray-700 text-base font-bold mb-2" for="email">Email</label>
          <input type="email" id="email" name="email" v-model="email" placeholder="contact@example.com"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus: shadow-outline"
            required autocomplete="email" aria-describedby="email-error">
            <p id="email-error" class="text-red-600 text-sm mt-1" v-if="errorMessage && !email">L'email est requis</p>
        </div>
        <div class="mb-6">
          <label class="block text-gray-700 text-base font-bold mb-2" for="message">Message</label>
          <textarea type="message" id="message" name="message" v-model="message" placeholder="Ecrivez votre message"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus: shadow-outline"
            style="height: 150px; width:100%;" required autocomplete="message" aria-describedby="message-error"></textarea>
            <p id="message-error" class="text-red-600 text-sm mt-1" v-if="errorMessage && !message">Le message est requis</p>
        </div>
        <div class="flex items-center justify-between">
          <button
            class="bg-blue-400 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="submit">
            Envoyer
          </button>
        </div>
      </form>
      <p v-if="successMessage" class="success-message text-green-700 font-bold" role="alert">{{ successMessage }}</p>
      <p v-if="errorMessage" class="error-message text-red-700 font-bold" role="alert">{{ errorMessage }}</p>
    </section>
    <section class="flex-1 max-w-md max-h-md p-4">
      <img
        src="https://images.unsplash.com/photo-1500817487388-039e623edc21?q=80&w=1889&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Paysage de forêt près d'une montagne glaciaire" class="w-full mb-4">
      <p class="text-sm">Photo de <a
          href="https://unsplash.com/fr/@samferrara?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
          class="underline hover:text-blue-600 focus:ring-2 focus:ring-blue-500"
          >SamuelFerrara</a> sur <a
          href="https://unsplash.com/fr/photos/foret-pres-de-la-montagne-glaciaire-pendant-la-journee-dKJXkKCF2D8?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
      </p>
    </section>
  </main>
</template>

<style scoped>
h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 1.5rem;
}

.text-green-700 {
  color: #2f855a;
}

.text-red-700 {
  color: #c53030;
}

.focus\:ring-2:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-offset-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.focus\:ring-blue-500:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgba(59, 130, 246, var(--tw-ring-opacity));
}

</style>
