<!--HomeView.vue-->
<script setup>

</script>

<template>
  <div class="flex flex-col items-center justify-center min-h-screen lg:pt-16 md:pt-24 sm:pt-32 bg-gray-100">
    <div class="lg:pt-16 md:pt-56 sm:pt-64">
      <!--En-tête-->
      <header 
        class="text-center mb-8 header-bg h-screen w-screen flex flex-col justify-center"
        aria-label="Image d'arrière plan: Vue de la Terre depuis l'espace"
      >
        <!--Titre-->
        <h1 class="lg:text-4xl md:text-6xl sm:text-4xl font-bold mb-2 text-white pt-8  bg-gray-700 bg-opacity-50 p-4 rounded-lg">Géomaticienne</h1>
        <h2 class="lg:text-xl md:text-2xl sm:text-xl text-white bg-gray-900 bg-opacity-75 p-3 rounded-lg">Cartographe du monde numérique</h2>
        <p class="lg:text-2xl md:text-2xl sm:text-2xl  mb-4 text-white bg-gray-90000 bg-opacity-75 p-4 rounded-lg">
          En tant que professionnelle de la géomatique, je transforme les données brutes en carte et en modèles significatifs, révélant des patterns et des histoires cachés dans les chiffres. Ma passion pour la précision et l'innovation guide chaque projet, du développement urbain à la conservation environnementale. 
          <br>Mon expertise en SIG et télédétection est au service de décisions stratégiques, soutenant des initiatives durables et une meilleure compréhension de notre monde. 
          <br>Je peux aider à prendre des décisions éclairées basées sur les données spatiales.</p>
          
      </header>
      <div>
        <p class="text-xs px-4">Photo de 
          <a href="https://unsplash.com/fr/@nasa?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
            class="underline hover:text-blue-600 focus:ring"
            title="Voir le profil de NASA sur Unsplash">NASA</a> sur 
          <a href="https://unsplash.com/fr/photos/photo-de-lespace-extra-atmospherique-Q1p7bh3SHj8?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
            class="underline hover:text-blue-600 focus:ring"
            title="Voir cette photo sur Unsplash">Unsplash</a>
        </p>
      </div>
    </div>
  </div>
</template>

<style scoped>
h1 {
  font-weight: 500;
  font-size: 2.6rem;
  position: relative;
  top: -10px;
  z-index: 1;
}

p {
  z-index: 1;
}

.image-container {
  position: absolute;
  inset: 0;
  z-index: 0;
}

/**Ajoutez une classe pour définir l'image d'arrière-plan */
.header-bg {
  background-image: url('https://images.unsplash.com/photo-1451187580459-43490279c0fa?q=80&w=1472&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
  color: white;
}

</style>
