<script >
import axios from 'axios';

export default {
    data() {
        return {
            username: '',
            password: ''
        }
    },
    methods: {
     
        async login()  {
            try {
                const response = await axios.post('http://localhost:3000/api/auth/login', {
                    username: this.username,  
                    password: this.password
                });

                console.log('username', this.username);
                console.log('password', this.password);

                const accessToken = response.data.accessToken;

                // Stocker le jeton d'accès dans le navigateur
                localStorage.setItem('accessToken', accessToken);

                console.log('accessToken', accessToken);

                // Accéder à l'URL http://localhost:3000/api/messages/list
                await this.getMessages();
                // this.$router.push('/messages/list');
            } catch (error) {
               console.error('login()', error);
               alert('Invalid username or password'); 
            }
        },
        async getMessages() {
            try {
                // Récupérer le jeton d'accés stocké dans le navigateur
                const accessToken = localStorage.getItem(`accessToken`);
                // Configurer les en-têtes de la requête avec le jeton d'accés
                const config = {
                    headers: {
                        Authorization: `Bearer ${accessToken}`
                    }
                }

               const response = await axios.get('http://localhost:3000/api/messages/list', config);
               console.log('réponse du backend', response.data);
               // Traitement des données de la réponse 
            } catch (error) {
                console.error('getMessages()', error);
                // Gestion de l'erreur
            }
        },
    }
}

</script>

<template>
  <div class="flex flex-col items-center justify-center min-h-screen pt-16">
    <div class="lg:pt-16 md:pt-64 sm:pt-72 px-8 py-6 mt-4 text-left bg-white shadow-lg rounded-lg w-full max-w-md mx-auto login-container">
        <h1 class="text-2xl font-bold text-center mb-6">Login</h1>
        <p class="mb-4 text-center">Espace réservé aux administrateurs du site</p>
        <form @submit.prevent="login" class="space-y-4">
            <div>
                <label class="block text-sm font-medium text-gray-700" for="username">Username : </label>
                <input type="text" id="username" name="username" v-model="username" class="border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 rounded-md shadow-sm block w-full sm:text-sm border p-2" required>
            </div>
            
            <div>
                <label class="block text-sm font-medium text-gray-700" for="password">Password : </label>
                <input type="password" id="password" name="password" v-model="password" class="border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 rounded-md shadow-sm block w-full sm:text-sm border p-2" required>
            </div>
            <button class="bg-blue-400 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                Login
            </button>
        </form>
    </div>
  </div>
</template>

<style scoped>
h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 1rem;
}

.login-container {
    position: relative;
}

</style>
