<!--MentionView.vue-->
<script setup>

</script>

<template>
  <main class="flex flex-col items-center justify-center min-h-screen pt-16 lg:pt-16 md:pt-64 sm:pt-72 bg-gray-100">
    <section class="lg:pt-16 md:pt-56 sm:pt-64 p-8">
      <h1 class="text-4xl font-semibold text-gray-800 mb-8">Mentions légales</h1>
      <p class="lg:text-2xl md:text-4xl sm:text-2xl">En vertu de l'article 6 de la loi n°2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, il est précisé aux utilisateurs du site Internet Portfolio l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi.</p>
      <p class="lg:text-2xl md:text-4xl sm:text-2xl">Le propriétaire et/ou éditeur est une personne physique ou morale, Sylvie HOAREAU, 93 rue Idelphonse Caro, 97421 La Rivière Saint-Louis, La Réunion.</p>
      <p class="lg:text-2xl md:text-4xl sm:text-2xl">Le responsable de publication et/ou le webmaster est Sylvie HOAREAU, 93 rue Idelphonse Caro, 97421 La Rivière Saint-Louis, La Réunion.</p>
      <p class="lg:text-2xl md:text-4xl sm:text-2xl">L'hébergeur du site Internet Portfolio est : Gitlab - Gitlab Inc. - 268 Bush Street #350, San Francisco, CA 94104-3503, Etats-Unis </p>
      <p class="lg:text-2xl md:text-4xl sm:text-2xl">Le site Internet Portfolio est régi par les lois françaises.</p>
      <p class="lg:text-2xl md:text-4xl sm:text-2xl">Le site Internet Portfolio a pour objet de présenter des travaux personnels au sujet de la géomatique.</p>
      <h2 class="text-2xl pt-4 pb-2 font-semibold">Collecte des données personnelles</h2>
      <p class="lg:text-2xl md:text-4xl sm:text-2xl">Le site Internet Portfolio collecte de données personnelles via un formulaire de contact. Les données collectées sont les suivantes : nom, prénom, adresse email, message.</p>
      <p class="lg:text-2xl md:text-4xl sm:text-2xl">Les données personnelles collectées sont utilisées exclusivement pour répondre aux demandes des utilisateurs du site. Elles ne sont pas transmises à des tiers, ni utilisées à des fins commerciales ou publicitaires.</p>
      <p class="lg:text-2xl md:text-4xl sm:text-2xl">Les données personnelles sont conservées pendant une durée d'un an (365 jours) à compter de leur collecte. A l'issue de cette durée, elles seront supprimées.</p>
      <p class="lg:text-2xl md:text-4xl sm:text-2xl">Conformément à la loi informatique et libertés du 6 janvier 1978 modifiée et au Réglement européen n°2016/679/UE du 27 avril 2016 (applicble dès le 25 mai 2018), vous bénéficiez d'un droit d'accès, de rectification, de portabilité et d'effacement de vos données ou encore de limitation du traitement. Vous pouvez également, pour des motifs légitimes, vous opposer au traitement des données vous concernant.</p>
      <p class="lg:text-2xl md:text-4xl sm:text-2xl">Pour exercer ces droits, merci d'adresser un email à hoareausylvie@outlook.fr.</p>
      <h2 class="text-2xl pt-4 pb-2 font-semibold">Cookies</h2>
      <p class="lg:text-2xl md:text-4xl sm:text-2xl">Le site Internet Portfolio utilise des cookies.</p>
      <p class="lg:text-2xl md:text-4xl sm:text-2xl">Un cookie est un fichier texte déposé sur votre ordinateur lors de la visite ou de la consultation d'une publicité. Il a pour but de collecter des informations relatives à votre navigation et de vous adresser des services adaptés à votre terminal (ordinateur, mobile ou tablette). Les cookies sont gérés par votre navigateur internet.</p>
      <p class="lg:text-2xl md:text-4xl sm:text-2xl">En continuant votre navigation sur le site Internet Portfolio, vous acceptez l'utilisation des cookies.</p>
      <p class="lg:text-2xl md:text-4xl sm:text-2xl">Les cookies utilisés sont enregistrer votre consentement dans la bannière de cookies. Ils sont aussi utilisés pour enregistrer vos coordonnées et messages saisis dans le formulaire de contact. Des cookies sont également utiles pour mesurer la performance du site web Portfolio.</p>
      <p class="lg:text-2xl md:text-4xl sm:text-2xl">Vous pouvez à tout moment désactiver les cookies en paramètrant votre navigateur internet.</p>
    </section>
  </main>
 
</template>

<style scoped>
h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 1rem;
}

h2{
  text-transform: uppercase;
}

</style>
