<!--RGAAView.vue-->
<script setup>

</script>

<template>
  <main class="flex flex-col items-center justify-center min-h-screen pt-16 bg-gray-100">
    <section class="lg:pt-16 md:pt-56 sm:pt-64">
      <h1 class="text-4xl font-semibold text-gray-800 mb-8">Mentions légales</h1>
      <p>Sylvie HOAREAU s’engage à rendre [son (ses) site(s) internet, intranet, extranet et son (ses) application(s) mobile(s), etc.] accessibles conformément à l’article 47 de la loi n° 2005-102 du 11 février 2005.</p>

<p>À cette fin, il met en œuvre la stratégie et les actions suivantes [liens vers le schéma pluriannuel et vers le plan d’action de l’année en cours incluant le bilan des actions réalisées l’année précédente].</p>

Cette déclaration d’accessibilité s’applique à [Nom du site web de l’application mobile, ou d’un autre service auquel la déclaration s’applique].

État de conformité
[Nom du site web, de l’application mobile, ou d’un autre service concerné] est
[totalement / partiellement / non] conforme avec [pour les sites : le référentiel général d’amélioration de l’accessibilité / autre protocole de test utilisé ; pour les autres services de communication : protocole de test utilisé].

Résultat des tests
L’audit de conformité réalisé [en interne / par la société NNN] révèle que :

[pourcentage de critères RGAA respectés] des critères RGAA sont respectés.
[Facultatif] Le taux moyen de conformité du service en ligne s’élève à [taux moyen de conformité du service en ligne].
[Détailler ici les résultats des tests ou insérer un lien vers le rapport de test]

Contenus non accessibles
Les contenus listés ci-dessous ne sont pas accessibles pour les raisons suivantes.

Non conformité
[Lister la/les non-conformité(s) du/de la/des site(s) internet/application(s) mobile(s) et/ou décrire quels section(s)/contenu(s)/fonction(s) ne sont pas encore conformes, indiquer les alternatives s’il y a lieu].
Dérogations pour charge disproportionnée
[Lister la/le/les section(s)/contenu(s)/fonction(s) non accessible(s) pour laquelle/lequel/lesquels la dérogation pour charge disproportionnée est temporairement invoquée, indiquer les alternatives s’il y a lieu].
Contenus non soumis à l’obligation d’accessibilité
[Lister la/le/les section(s)/contenu(s)/fonction(s) non accessible(s) qui n’entre(nt) pas dans le champ d’application de la législation applicable, indiquer les alternatives s’il y a lieu].
Établissement de cette déclaration d’accessibilité
Cette déclaration a été établie le [JJ mois AAAA]. Elle a été mise à jour le [JJ mois AAAA].

Technologies utilisées pour la réalisation [Du site web / De l’application mobile / Du service…]
[Liste des technologies utilisées]
Environnement de test
Agents utilisateurs, technologies d’assistance et outils utilisés pour vérifier l’accessibilité

[Indiquer les combinaisons utilisées pour effectuer les vérifications de conformité]
Les outils utilisés lors de l’évaluation
[Indiquer les outils utilisés]
Pages du site ayant fait l’objet de la vérification de conformité
[Indiquer la liste des pages qui ont été testées]
Retour d’information et contact
Si vous n’arrivez pas à accéder à un contenu ou à un service, vous pouvez contacter le responsable du [site internet / application mobile / Autre service] pour être orienté vers une alternative accessible ou obtenir le contenu sous une autre forme.

Envoyer un message [url du formulaire en ligne]
Contacter [Nom de l’entité responsable du service en ligne] [url d’une page avec les coordonnées de l’entité]
Voies de recours
Cette procédure est à utiliser dans le cas suivant.

Vous avez signalé au responsable du site internet un défaut d’accessibilité qui vous empêche d’accéder à un contenu ou à un des services du portail et vous n’avez pas obtenu de réponse satisfaisante.

Écrire un message au Défenseur des droits (https://www.defenseurdesdroits.fr/nous-contacter-355)
Contacter le délégué du Défenseur des droits près de chez vous (https://www.defenseurdesdroits.fr/carte-des-delegues)
Envoyer un courrier par la poste (gratuit, ne pas mettre de timbre) Défenseur des droits Libre réponse 71120 75342 Paris CEDEX 07
    </section>
  </main>
 
</template>

<style scoped>
h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 1rem;
}

h2{
  text-transform: uppercase;
}

</style>
