<script setup>
import SkillsCollection from '../components/SkillsCollection.vue'
</script>

<template>
  <main class="flex flex-col items-center justify-center min-h-screen lg:pt-16 md:pt-24 sm:pt-32 bg-gray-50">
    <div class="pt-16 lg:pt-16 md:pt-56 sm:pt-64">
      <h1 class="text-4l font-semibold text-gray-800 mb-8">Compétences</h1>
      <SkillsCollection/>
    </div>
  </main>
</template>

<style scoped>
h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 1rem;
}

</style>
